*  {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MAIN PAGE */
/* MAIN LEFT*/
.mx_wrap {
  height: 100vh;
  width: 100%;
  background-color: #141922;
  overflow-y: scroll;
}
/* SPOTIFY logo */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 230px;
  text-align: left;
  padding-left: 5px;
  padding-top: 10px;
  background-color: black;
}
.logo img {
  height: 50px;
  padding: 10px 0 0 15px;
}
/* MAIN LEFT general rules */
.main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100% - 150px);
  width: 230px;
  background-color: black;
  margin-top: 60px;
  padding-left: 10px;
}
.main_left a {
  text-decoration: none;
  color: grey;
  font-size: 13px;
}
.main_left h3 {
  font-size : 14px;
}
.main_left a:hover {
  text-decoration: none;
  color: white;
}
a.mx_greenyellow_left {
  border-left: 2px solid greenyellow;
  font-weight: bold;
  color: white;
}
/* TOP main left */
.top-container {
  list-style: none;
  line-height: 35px;
  padding-top: 20px;
}
#home img {
  width: 10%;
  vertical-align: middle;
  margin-left: 7px;
}
/* MID main left */
.mid {
  min-height: 100px;
  overflow-y: auto;
  margin-left: 1px;
  flex-grow: 2;
}
.mx_white_pad {
  color: white;
  margin-left: 7px;
}
#playlist {
  list-style: none;
  margin-left: 10px;
  line-height: 35px;
}
#playlist li:nth-child(1) > a {
  font-size: 15px;
}
.cross {
  display: inline-block;
  content: '+';
  width: 37px;
  height: 37px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  color: black;
}
/* BOTTOM main left */
.bottom {
  padding: 10px;
}
.bottom-up {
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}
.bottom-down {
  padding-top: 15px;
}
.bottom-up img {
  height: 15px;
  margin-right: 5px;
}
.bottom-down img {
  height: 25px;
  margin-right: 5px;
  background-color: grey;
  border-radius: 60%;
}
.bottom-down a {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
/* MEDIA QUERY MAIN LEFT */
@media all and (max-width: 768px) {
  .main_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 140px);
    width: 50px;
    background-color: black;
    padding: 5px;
    margin-top: 50px;
  }
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: black;
    padding-top: 0px;
  }
  .logo img {
    height: 35px;
    padding: 15px 0 0 10px;
  }
  .download img{
    height: 20px;
    margin-bottom: 10px;
  }
  .profile img {
    height: 30px;
    border-radius: 30px;
    background-color: lightgrey;
  }
  .bottom {
    padding: 5px;
  }
}
/* MAIN RIGHT */
/*BANNER*/
#banner {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 230px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 10px;
  z-index: 9000;
}
.mx_upgrade_btn {
  display: inline-block;
  background-color: black;
  font-size: 10px;
  border-radius: 20px;
  padding:10px 40px;
  margin-right: 10px;
  width: 200px;
  border: 1px solid white;
  text-align: center;
}
.mx_upgrade_btn:hover {
  padding: 10px;
  font-size: 12px;
}
#banner .mx_upgrade_btn {
  text-decoration: none;
  color: white;
}
/* MAIN RIGHT CONTENT*/
/* MAIN RIGHT General rules */
.main_right {
  width: calc(100% - 230px);
  height: calc(100% - 90px);
  float: right;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px;
}
/* MAIN RIGHT Music */
.mx_flex_container_menu a {
  color:grey;
  padding: 0 0 0 25px;
  font-size: 13px;
  text-decoration: none;
}
.mx_flex_container_menu a:hover {
  color:white;
  text-decoration: none;
}
.highlights {
  position: relative;
}
.highlights:after {
  position: absolute;
  left: 45%;
  content: "";
  display: table;
  height: 2px;
  width: 40px;
  background-color: greenyellow;
}
.mx_flex_container_menu {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 45px;
}
#recently_played h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.GianMX {
  margin-top: 40px;
}
.GianMX h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.GianMX p {
  color: grey;
  font-size: 12px;
}
/* MAIN RIGHT Flex item */
.flex_album_container {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: nowrap;
}
.flex_album_container_two {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  flex-wrap: nowrap;
}
.flex_item {
  padding: 10px;
}
.flex_item img {
  width: 100%;
}
.flex_item h5 {
  color:white;
  font-weight: bold;
  font-size: 16px;
}
.flex_item p {
  color:grey;
  font-size: 12px;
}
.flex_album_container_two .flex_item{
 flex-basis: calc(100% / 6);
}
.flex_album_container .flex_item {
 flex-basis: calc(100% / 6);
}
.box_img {
 position: relative;
}
.box_img.popolari img {
  border-radius: 50%;
}
/* MAIN RIGHT shadow and start play */
.flex_item.popolari .box_shadow {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.flex_item .box_shadow {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.flex_item:hover .box_shadow {
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.box_shadow i {
  font-size: 50px;
  color: white;
}
/* MEDIA QUERY MAIN RIGHT */
@media all and (max-width: 768px) {
  #banner {
    width: calc(100% - 50px);
  }
  .main_right {
    float:right;
    margin-right: 120px;
  }
  .mx_upgrade_btn {
    width: 250px;
    padding: 15px 40px;
  }
  .mx_flex_container_menu {
    flex-wrap: wrap;
    margin-right: 80px;
  }
  .mx_flex_container_menu a {
    margin-top: 10px;
  }
  .flex_album_container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  .flex_album_container .flex_item {
   flex-basis: calc(100% / 2);
  }
  .flex_album_container_two .flex_item{
   flex-basis: calc(100% / 2);
  }
}
@media all and (min-width: 769px) and (max-width: 991px)  {
    /*MAIN - RIGHT */
  .mx_flex_container_menu {
    flex-wrap: wrap;
    width: calc(100% / 2);
    margin-left: 160px;
  }
  .mx_flex_container_menu a {
    margin-top: 20px;
  }
  .flex_album_container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  .flex_album_container .flex_item {
   flex-basis: calc(100% / 2);
  }
  .flex_album_container_two .flex_item{
   flex-basis: calc(100% / 2);
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .mx_flex_container_menu {
    flex-wrap: wrap;
  }
  .flex_album_container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
  }
  .flex_album_container .flex_item {
   flex-basis: calc(100% / 4);
  }
  .flex_album_container_two .flex_item{
   flex-basis: calc(100% / 4);
  }
}
/*FOOTER*/
footer {
  position: fixed;
  z-index: 9000;
  left: 0;
  bottom: 0;
  width: 100%;
  height:90px;
  background-color: #282828;
}
#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* FOOTER left side player */
.mx_footer-left {
  line-height: 50px;
  padding: 20px;
}
.left_img {
  float: left;
}
.left_img img {
  height: 40px;
  margin-right: 10px;
  line-height: 90px;
}
.left_text {
  float: left;
  margin-right: 50px;
}
.left_text li {
  list-style: none;
  line-height: 1px;
}
.mx_playfavorite {
  float: left;
  color:lightgrey;
}
.mx_playfavorite li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
.mx_footer-left i:hover {
  color:white;
}
.mx_nowplaying h4 {
  font-size: 14px;
  color:white;
  font-weight: bold;
}
.mx_nowplaying p {
  color:lightgrey;
  font-size: 10px
}
/* FOOTER center side lenght bar song */
.mx-center-icon {
  line-height: 20px;
}
.mx-center-icon li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
.mx-center-icon li {
  padding-left: 8px;
  padding-right: 8px;
}
.mx-center-icon li:nth-child(3) {
  font-size: 30px;
}
.mx-center-icon li:nth-child(3) i:hover {
  font-size: 105%;
}
.footer-center {
  padding: 5px;
  color:white;
}
div.mx-center-icon > ul {
  margin-top: 10px;
}
.footer-center-lenght {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-center-lenght p {
  font-size: 10px;
}
.mx_lenght-container {
  width: 600px;
  margin: 10px;
  height: 3px;
  background-color: grey;
}
.mx_lenght {
  position: relative;
  width: 100px;
  height: 3px;
  background-color: white;
}
.roundmark {
  visibility: hidden;
  position: absolute;
  top: -150%;
  right:0;
  color: white;
}
.mx_lenght-container:hover .roundmark {
 visibility: visible;
}
.mx_lenght-container:hover {
 visibility: visible;
}
.mx_lenght-container:hover .mx_lenght {
 background-color: lime;
}
/* FOOTER right side volume option */
.mx_footer-right {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  align-items: center;
}
.mx_footer-right-icon {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  color: white;
}
.mx_footer-right-icon .time-line-container {
  width: 100px;
  margin: 10px;
}
.mx_footer-right-icon li {
  padding: 10px;
}
.time-line-container {
  background-color: grey;
}
.line {
  width: 30px;
  height: 3px;
  background-color: white;
}
.line:hover {
  background-color: lime;
}
/* MEDIA QUERY MAIN RIGHT */
@media all and (max-width: 768px) {
 div.mx-center-icon > ul {
    font-size: 15px;
  }
  .mx_lenght {
    width: 30px;
    height: 3px;
    background-color: white;
  }
  .mx_lenght-container {
    width: 90px;
    margin: 10px;
    height: 3px;
    background-color: grey;
  }
}
@media all and (min-width: 769px) and (max-width: 991px)  {
  div.mx-center-icon > ul {
    font-size: 20px;
  }
  .mx_lenghtmx_lenght {
    width: 100px;
    height: 3px;
    background-color: white;
  }

  .mx_lenght-container {
    width: 300px;
    margin: 10px;
    height: 3px;
    background-color: grey;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .mx_lenghtmx_lenght {
    width: 150px;
    height: 3px;
    background-color: white;
  }
  .mx_lenght-container {
    width: 400px;
    margin: 10px;
    height: 3px;
    background-color: grey;
  }
}
